header-height = 90px
mini-header-height = 60px
/*header-color = #4c81b6*/
header-color = #fff
footer-color = #324057
footer-height = 200px
header-font-color = #616161
header-font-hover-color = #4091EF